@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body, p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.mobileContainer {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
}

.signIn {
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 40px 0;
    min-height: 100vh;
}

.mobileContentArea {
    padding-left: 15px;
    padding-right: 15px;
}

.innerContainer {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    text-align: center;
}

.fieldsArea {
    margin-top: 60px;
}

.fieldsArea h4 {
    font-size: 30px;
    color: #53417b;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
}

.fieldsArea label {
    font-size: 16px;
    color: #53417b;
    display: block;
}

.form-control {
    border-radius: 10px;
    height: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    background: transparent;
    border: #53417b solid 1.5px;
    color: #6a6a6a;
    font-size: 16px;
}

.form-control:focus {
    border-color: #53417b;
}

.btnMain {
    background: #53417b;
    border: #53417b solid 2px;
    width: 100%;
    margin-top: 10px;
    padding: 9px 12px;
    border-radius: 10px;
    transition-duration: .3s;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.btnMain:hover {
    background: #413261;
    transition-duration: .3s;
    border: #413261 solid 2px;
}

.btnMain:active:hover, .btnMain:active:focus {
    background: #53417b !important;
    border: #53417b solid 2px !important;
}

.forgotPass a {
    font-size: 18px;
    color: #53417b;
    font-weight: 600;
}

.signInBtm {
    text-align: center;
    margin-top: 60px;
}

.signInBtm h5 {
    font-size: 20px;
    color: #53417b;
    font-weight: 400;
    margin-bottom: 0;
}

.signInBtm h5 a {
    font-weight: 700;
    color: #53417b;
    text-decoration: none;
}

.signInBtm p {
    font-size: 16px;
    line-height: 21px;
    color: #53417b;
}

.signInBtm p a {
    font-weight: 700;
    color: #53417b;
    text-decoration: none;
}

.signUp {
    margin-top: 20px;
}

input[type='checkbox']:after {
    width: 19px;
    height: 19px;
    top: -3px;
    left: -1px;
    position: relative;
    background-image: url(../images/unChecked.png);
    -webkit-background-image: url(../images/unChecked.png);
    -webkit-moz-background-image: url(../images/unChecked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: inline-block;
    visibility: visible;
    background-color: transparent;
    cursor: pointer;
    border: none;
}


input[type='checkbox']:checked:after {
    width: 19px;
    height: 19px;
    top: -3px;
    left: -1px;
    position: relative;
    background-image: url(../images/checked.png);
    -webkit-background-image: url(../images/checked.png);
    -webkit-moz-background-image: url(../images/checked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: inline-block;
    visibility: visible;
    background-color: transparent;
    border: none;
}

.otpField {
    width: 15%;
    padding: 15px 10px;
    margin: 15px 13% 15px 0;
    float: left;
    text-align: center;
}

.otpField:last-child {
    margin-right: 0;
}

.servicesPage {
    background: #f0eef6;
    min-height: 100vh;
}

.mobHeader {
    background: #53417b;
    padding: 60px 0 25px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mobHeader h3 {
    margin: 0;
    text-align: center;
}

.mobHeader a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.mobBanner {
    background: url(../images/mobBanner.png) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 90px 40px;
    box-sizing: border-box;
    margin-top: 30px;
}

.mobBanner h2 {
    font-size: 40px;
    color: #53417b;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
}

.mobBanner p {
    font-size: 16px;
    line-height: 24px;
    color: #53417b;
    font-weight: 400;
    width: 60%;
}

.serviceBox {
    position: relative;
    transition-duration: .3s;
    margin-bottom: 50px;
}

.overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(83, 65, 123, .8);
    width: 100%;
    transition-duration: .3s;
    border-radius: 10px;
}

.serviceBox:hover .overlay {
    visibility: visible;
    opacity: 1;
    transition-duration: .3s;
}

.serviceBox:hover h3 {
    color: #fff;
    transition-duration: .3s;
}

.serviceBox img {
    width: 100%;
    box-shadow: 1px 1px 20px #8873b8;
    transition-duration: .3s;
    border-radius: 12px;
}

.serviceContent {
    position: absolute;
    top: -24px;
    left: 20px;
}

.serviceContent .serviceIcon {
    width: 50px;
    height: 50px;
    padding: 9px 0px;
    background: #fff;
    border: 5px solid rgba(255, 255, 255, .2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 50%;
    text-align: center;
}

.serviceContent .serviceIcon img {
    width: auto !important;
    box-shadow: none;
}

.serviceHeading h3 {
    font-size: 16px;
    color: #53417b;
    font-weight: 500;
    transition-duration: .3s;
}

.nav-tabs {
    border-bottom: none;
    text-align: center;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
    margin: 0;
    margin-right: -4px;
    padding: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #53417b;
    border: 2px solid #53417b;
    border-bottom-color: transparent;
    transition-duration: .3s;
}

.nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 2px solid #53417b;
    border-radius: 0;
    padding: 10px 60px;
    transition-duration: .3s;
    font-weight: 700;
    font-size: 25px;
    color: #53417b;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-tabs > li > a:hover {
    color: #000;
    background: transparent;
    border: 2px solid #53417b;
}

.serviceInner {
    padding: 30px 15px 100px;
    box-sizing: border-box;
}

.servicesMain {
    margin-top: 50px;
}

.navbar-fixed-bottom {
    max-width: 620px;
    margin: 0 auto;
}

.mobMenu {
    background: #53417b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 25px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.mobMenu ul {
    margin-bottom: 0;
}

.mobMenu ul li {
    width: 24%;
    text-align: center;
}

.mobMenu ul li a {
    font-size: 14px;
    color: #bfbbbb;
    text-decoration: none;
}

.mobMenu ul li a img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.serviceCatInner {
    text-align: center;
}

.serviceCatInner h4 {
    font-size: 30px;
    color: #53417b;
    font-weight: 700;
    text-transform: uppercase;
}

.serviceCatInner p {
    font-size: 16px;
    line-height: 24px;
    color: #53417b;
}

.appointmentRow {
    background: #e1dfe4;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0 0 10px;
}

.appointLeft img {
    width: 100%;
}

.appointRight h4 {
    margin: 0;
    font-size: 30px;
    color: #53417b;
    font-weight: 700;
}

.appointRight ul {
    margin-bottom: 5px;
}

.appointRight ul li {
    font-size: 14px;
    line-height: 24px;
    color: #f0eef6;
    background: #53417b;
    border-radius: 10px;
    padding: 0 20px;
}

.appointRight p {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.appointRight h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.statusConfirmed {
    color: #4c7b41;
}

.statusPending {
    color: #53417b;
}

.viewDet {
    text-align: right;
}

.viewDet a {
    color: #53417b;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.serviceBox2 {
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(#5a467a, #776591);
    padding: 25px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.serviceBox2 img {
    box-shadow: none;
}

.serviceBox2 h3 {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.serviceBox2 p {
    font-size: 7px;
    line-height: 10px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.serviceBox2 .serviceInnerContent {
    position: inherit;
    top: 0;
    left: 0;
}

.serviceInnerDet h4 {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.serviceInnerDet h4 span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}

.serviceInnerDet a {
    color: #53417b;
    border: #fff solid 2px;
    background: #fff;
    width: 70%;
    padding: 3px 0;
    font-size: 10px;
}

.mrgnRow {
    margin-top: 40px;
}

.appointmentLeft h4 {
    font-size: 25px;
    color: #53417b;
    font-weight: 700;
    text-align: left;
}

.appointmentLeft p {
    font-size: 16px;
    line-height: 24px;
    color: #212121;
    margin: 0;
    text-align: justify;
}

.appointmentLeft h5 {
    font-size: 25px;
    color: #53417b;

    font-weight: 700;
}

.appointmentLeft h5 span {
    color: #53417b;
    font-weight: 400;
    font-size: 22px;
}

.personalInfo {
    text-align: left;
}

.personalInfo h3 {
    font-size: 30px;
    color: #53417b;
    font-weight: 700;
}

.personalInfo img {
    width: auto;
    margin-left: 20px;
}

.personalInfo h5 {
    font-size: 18px;
    color: #53417b;
    font-weight: 700;
}

.personalInfo h5 span {
    display: block;
    font-size: 16px;
    color: #212121;
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
    width: 90%;
}

.appointmentCalculations {
    border: #53417b solid 1px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
}

.appointmentCalculations h5 {
    font-size: 18px;
    color: #212121;
    font-weight: 400;
}

.appointmentCalculations h5 span {
    font-size: 20px;
    color: #53417b;
    font-weight: 700;
}

.totalRow {
    margin-top: 80px;
    border-top: #53417b solid 1px;
}

.appointmentLeft label {
    color: #53417b;
    font-size: 16px;
    text-align: left;
    display: block;
}

.outputRes {
    font-size: 18px !important;
    margin: 5px 0;
    color: #53417b !important;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.outputRes span {
    color: #030303;
    font-weight: 400;
}

.appointmentLeft {
    text-align: left;
}

.files {
    position: relative;
    margin-top: 20px;
}

.files input {
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 110px 0px 55px 32%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    border: #53417b dashed 1px;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px dashed #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 72px;
    right: 0;
    height: 72px;
    content: "";
    background-image: url(../images/uploadIcon.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 37px;
    content: " Upload your Bank Slip";
    display: block;
    margin: 0 auto;
    color: #212121;
    font-weight: 400;
    font-size: 19px;
    text-transform: capitalize;
    text-align: center;
}

.appointmentLeft ol {
    padding-left: 15px;
}

.statusBar {
    border-top: #000 dashed 2px;
    margin-top: 50px;
}

.statusBar p {
    text-align: center;
    margin-top: 10px;
}

.statusBarPending, .statusBarActive, .statusBarConfirmed {
    position: relative;
}

.statusBarPending::before {
    content: '';
    width: 24px;
    height: 24px;
    background: #ffd202;
    position: absolute;
    top: -14px;
    left: 43%;
    border-radius: 50%;
}

.statusBarActive::before {
    content: '';
    width: 24px;
    height: 24px;
    background: #53417b;
    position: absolute;
    top: -14px;
    left: 45%;
    border-radius: 50%;
}

.statusBarConfirmed::before {
    content: '';
    width: 24px;
    height: 24px;
    background: green;
    position: absolute;
    top: -14px;
    left: 46%;
    border-radius: 50%;
}

.mobMenuScreen ul li a {
    font-size: 20px;
    line-height: 35px;
    color: #53417b;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    transition-duration: .3s;
}

.mobMenuScreen ul li a:hover {
    background: #53417b;
    color: #fff;
    transition-duration: .3s;
}

.aboutContent h3 {
    font-weight: 700;
    font-size: 30px;
    color: #53417b;
}

.mobScreenOpt h3 {
    color: #53417b;
}

.panel-heading a {
    font-size: 20px;
    color: #131313;
    font-weight: 700;
    text-decoration: none;
    line-height: 23px;
}

.panel-heading.active a {
    color: #53417b;
}

.panel-default > .panel-heading {
    color: #131313;
    background-color: transparent;
    border-color: transparent;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    padding-top: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top-color: transparent;
}

.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0;
    border-radius: 0 !important;
    border-bottom: #0b0b0b solid 1px;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-heading span {
    width: 72px;
    height: 72px;
    padding: 12px 0px;
    background: #141414;
    border: 10px solid rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 39px;
    color: #fff;
    margin-right: 15px;
}

.panel-heading.active span {
    background: #56467a;
    border: 10px solid rgba(107, 92, 142, .8);
}

.panel-body {
    padding-left: 106px;
}

.accordion_icon {
    float: right;
    margin-top: 30px;
}

.contactLeft i {
    font-size: 18px;
    margin-top: 10px;
    color: #53417b;
}

.contactLeft address {
    font-size: 16px;
    color: #53417b;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.contactLeft address span {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #6a6a6a;
    font-weight: 400;
}

.notifications img {
    width: 100%;
}

.notifications p {
    margin-top: 20px;
}

.profileInfo h2 {
    color: #53417b;
    font-weight: 700;
    font-size: 28px;
    margin: 0;
}

.profileInfo h2 span {
    color: #252320;
    font-weight: 400;
    font-size: 20px;
}

.dashboardBoxes {
    padding: 40px 0;
    text-align: center;
    color: #f0eef6;
}

.dashboardBoxes h3 {
    margin: 0;
    color: #f0eef6;
    font-size: 50px;
    font-weight: 400;
}

.dashboardBoxes h4 {
    color: #f0eef6;
    font-size: 25px;
    font-weight: 400;
}

.dashboardBoxes h4 span {
    display: block;
}

.box1 {
    background: #3fa0da;
}

.box2 {
    background: #40bdb5;
}

.box3 {
    background: #c9a764;
}

.box4 {
    background: #625287;
}

.boxFooter {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
}

.boxFooter a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.box1Footer {
    background: #2e99d7;
}

.box2Footer {
    background: #2fb8af;
}

.box3Footer {
    background: #c5a056;
}

.box4Footer {
    background: #54437c;
}

.btn-success {
    padding: 9px 12px;
}

.ledger {
    background: #fff;
    padding: 20px 20px;
    box-sizing: border-box;
}

.tableScroll {
    overflow-x: scroll;
}

select.input-sm {
    height: auto;
}

.modal-header {
    padding: 15px;
    border-bottom: none;
    border: none;
    text-align: center;
    background: #53417b;
    color: #fff;
}

.serviceContent .serviceIcon img {
    height: 20px;
}

.signInOptions {
    margin-top: 10px;
}

input {
    font-family: 'Source Sans Pro', sans-serif;
}

.serviceInnerDet h4 span {
    min-height: 10px;
}

.serviceBox2 p {
    min-height: 18px;
}

.notifications h3 {
    margin: 0;
    font-size: 18px;
}

.notifications p {
    margin-top: 10px;
}

.appointRight ul li {
    margin-top: 5px;
}

.appointLeft img {
    width: 100%;
    min-height: 150px;
    object-fit: cover;
}

.appointmentsTabs li a {
    width: 205px;
}

panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    margin-top: 25px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.max-width {
    max-width: 100%;
    width: 100%;
}

.files img {
    width: 100%;
    margin-top: 10px;
}

.signInOptions h4 {
    font-size: 20px;
    color: #53417b;
    font-weight: 400;
    margin-bottom: 0;
}

.personalInfo h5 {
    margin-top: 0;
}

.activeMenuItem {
    color: #fff !important;
    font-weight: 700 !important;
}

.mobileAuthFields {
    padding-top: 200px;
}

/* styling by talha */
/* appointment page styling */
.appointments_services {
    margin-top: 0px;
}

.add_new_btn {
    padding: 30px;
    text-align: right;
    padding-bottom: 0px;
}

.add_new_btn a {
    padding: 10px 15px;
    height: 47px;
    background: #53417B;
    width: 167px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 2.5;
    text-align: center;
    text-decoration: none;
}

.appointments_services .appointment-date {
    color: #53417B;
    font-size: 12px;
    font-weight: 400;
}

.appointments_services .appointLeft {
    width: 35%;
    padding: 0;
}

.appointments_services .appointRight {
    width: 65%;
    padding-right: 10px;
    display: grid;
}

.appointments_services .appointment-short {
    display: flex;
    align-items: center;
}

.appointments_services .appointment-short h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.appointments_services .appointmentRow {
    display: flex;
    align-items: center;
}

.appointments_services .appointImg {
    width: 65px;
    min-height: 65px;
}

.appointments_services .appointment_item_img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.appointments_services .appointImg img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.appointments_services .appointImg {
    width: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.appointments_services .viewDate {
    padding: 9px 5px;
    background: #53417b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointments_services .viewDate a {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    padding: 0px
}

/* add services wrap styling */
.diagnosis_wrap .diagnosis_title {
    color: #707070;
    font-size: 20px;
}

.diagnosis_wrap .diagnosis_box {
    background-color: #D2CDDF;
    border: 1px solid #53417B;
    padding: 40px;
}

.diagnosis_box .diagnosisBoxHeader {
    border-bottom: 1px solid #53417B;
}

.diagnosisBoxHeader .diagnosisBoxTitle {
    color: #53417B;
    font-size: 20px;
}

.diagnosisBoxHeader .diagnosisPubDate {
    color: #53417B;
    font-size: 12px;
}

.diagnosis_detail {
    margin-top: 20px;
}

.diagnosis_detail .diagnosis {
    color: #53417B;
    font-size: 12px;
}

.diagnosis_wrap .goback {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 15px;
}

.diagnosis_wrap .goback .goBackBtn {
    background-color: transparent;
    border: 1px solid #53417B;
    font-size: 12px;
    padding: 9px 26px;
}

.add_new_diagnosis {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.add_new_diagnosis a {
    height: 47px;
    background: #53417B;
    width: 167px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 2.5;
    text-align: center;
    text-decoration: none;
}

/* add diagnostics wrap */

.add_diagnosis_wrap {
    padding: 20px;
}

.add_diagnosis_wrap .diagnosis_title {
    color: #707070;
    font-size: 20px;
}

.diagnosis_input {
    margin-bottom: 20px;
}

.diagnosis_input input {
    width: 100%;
    height: 42px;
    background-color: #D2CDDF;
    border: 1px solid #53417B;
    padding: 0px 15px;
}

.diagnosis_textarea textarea {
    width: 100%;
    background-color: #D2CDDF;
    border: 1px solid #53417B;
    padding: 0px 15px;
    resize: none;
}

.submit_form_btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.submit_form_btn .submitBTN {
    height: 47px;
    background: #53417B;
    width: 167px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
