@charset "utf-8";
@media screen and (max-width:650px)
{
	.appointmentTabs li a
	{
		padding: 10px 30px;
	}
}
@media screen and (max-width:550px)
{
	.logo img
	{
		width: 45%;
	}
	.fieldsArea h4 {
    font-size: 25px;
	}
	.nav-tabs > li > a {
    padding: 8px 60px;
    font-size: 18px;
	}
	.mobBanner h2 {
    font-size: 30px;
	}
	.mobBanner p {
    width: 80%;
}
	.serviceHeading h3 {
    margin: 0;
}
.mobMenu ul li a {
    font-size: 13px;
	}
	.appointRight h4 {
    font-size: 22px;
	}
	.appointRight ul li {
    font-size: 12px;
    line-height: 22px;
    padding: 0 13px;
}
	.appointRight h3 {
    font-size: 18px;
	}
	.viewDet a {
    font-size: 15px;
	}
	.appointLeft img {
    width: 100%;
    min-height: 120px;
    object-fit: cover;
}
	.serviceBox2 {
    padding: 25px 10px;
	}
	.serviceInnerDet a {
		width: 100%;
	}
	.serviceCatInner p {
    font-size: 14px;
    line-height: 22px;
 }
	.orderReviewLeft img
	{
		width: 100%;
	}
	.editIcon img
	{
		width:  auto;
	}
	.appointmentLeft h4 {
    font-size: 22px;
    margin-top: 0;
}
	.outputRes {
    font-size: 16px !important;
	}
	.appointmentCalculations h5 {
		font-size: 16px;
	}
	.appointmentCalculations h5 span {
    font-size: 18px;
	}
	.personalInfo img
	{
		width: auto;
	}
	.personalInfo h3 {
    font-size: 26px;
	}
	.personalInfo h5 {
    font-size: 16px;
	}
	.personalInfo h5 span {
    font-size: 14px;
	}
	.appointmentCalculations
	{
		margin-bottom: 15px;
	}
	.appointLgImg img
	{
		width: 100%;
		margin-bottom: 20px;
	}
	.appointmentLeft label {
    margin-top: 10px;
}
	.statusBarPending::before,.statusBarActive::before,.statusBarConfirmed::before {
    left: 42%;
 }
.panel-heading span {
    width: 50px;
    height: 50px;
    padding: 7px 0px;
    font-size: 25px;
    margin-right: 4px;
    border: 7px solid rgba(0, 0, 0, .5);
}
.panel-heading a {
    font-size: 16px;
    line-height: 21px;
}
	.panel-body {
    padding-left: 76px;
}
	.accordion_icon 
	{
		margin-top: 18px;
	}
	.notifications p {
    margin-top: 0;
}
	.appointmentTabs li a
	{
		padding: 10px 20px;
	}
	.serviceBox2 p {
		font-size: 7px;
		line-height: 10px;
	}
	.serviceBox2 p {
		min-height: 19px;
	}
	.serviceInnerDet h4 span {
		min-height: 11px;
	}
	.serviceBox2 h3 {
		min-height: 28px;
	}
}
@media screen and (max-width:450px)
{
	.mobBanner p {
    width: 100%;
}
	.nav-tabs > li > a {
    padding: 8px 40px;
	}
	.mobMenu ul li a img {
    width: 40%;
 }
	.serviceContent {
    left: 10px;
}
	.mobMenu ul li a {
    font-size: 10px;
}
	.serviceContent .serviceIcon {
    width: 40px;
    height: 40px;
    padding: 4px 0px;
	}
	.mobHeader {
    padding: 40px 0 25px;
	}
	.appointLeft
	{
		padding: 0;
	}
	.appointmentRow {
    padding: 15px 10px;
	}
	.appointRight ul li {
    font-size: 10px;
    line-height: 22px;
    padding: 0 12px;
}
	.serviceCatInner p {
    font-size: 12px;
    line-height: 20px;
}
	.serviceCatInner h4 {
    font-size: 26px;
	}
	.serviceCatInner .mrgnRow .col-xs-4
	{
		width: 50%;
	}
	.serviceInnerDet h4 {
    font-size: 12px !important;
  }
	.serviceBox2 p {
    font-size: 7px !important;
    line-height: 14px !important;
		margin-top: 5px;
	}
	.serviceCatInner h4 {
    font-size: 18px;
}
	.serviceCatInner p {
    font-size: 11px;
    line-height: 18px;
}
	.appointmentLeft label {
    font-size: 14px;
	}
	.outputRes {
    font-size: 14px !important;
    line-height: 22px !important;
}
	.appointmentCalculations h5 {
    font-size: 14px;
}
	.appointmentCalculations h5 span {
    font-size: 16px;
}
	.personalInfo h3 {
    font-size: 22px;
}
	.statusBarPending::before,.statusBarActive::before,.statusBarConfirmed::before {
    left: 40%;
 }
	
.aboutContent h3 {
    font-size: 24px;
	}
	.panel-heading.active span {
    border: 4px solid rgba(107, 92, 142, .8);
}
	.panel-heading span {
    width: 40px;
    height: 40px;
    padding: 5px 0px;
    font-size: 25px;
    margin-right: 2px;
    border: 5px solid rgba(0, 0, 0, .5);
}
	.panel-heading a {
    font-size: 14px;
    line-height: 21px;
}
.panel-body {
    padding-left: 60px;
    font-size: 12px;
}
	.mobHeader h3 {
    font-size: 20px;
}
	.dashboardBoxes h4 {
    font-size: 17px;
	}
	.boxFooter a {
    font-size: 13px;
}
	
.dashboardBoxes {
    padding: 20px 0;
	}
	.appointmentTabs li a {
    padding: 10px 20px !important;
}
	.appointmentData p
	{
		font-size: 12px;
	}
	.serviceBox2 p {
		min-height: 28px;
	}
}
@media screen and (max-width:375px)
{
	.mobBanner {
    padding: 60px 40px;
	}
}
@media screen and (max-width:360px)
{
	.fieldsArea h4 {
    font-size: 22px;
}
	.logo img
	{
		width: 55%;
	}
	.mobMenu {
    padding: 10px 15px
	}
.appointRight ul li {
    font-size: 9px;
    line-height: 22px;
    padding: 0 6px;
}
	.appointRight h3 {
    font-size: 16px;
}
	.viewDet a {
    font-size: 12px;
}
	.serviceCatInner h4 {
    font-size: 16px;
}
	.mobHeader h3 {
    font-size: 20px;
 }
	.personalInfo h3 {
    font-size: 18px;
}
	.appointmentCalculations h5 {
    font-size: 12px;
}
	.appointmentCalculations h5 span {
    font-size: 14px;
}
	.personalInfo h5 span {
    font-size: 12px;
    width: 100%;
}
	.personalInfo h5 {
    margin-top: 0;
}
	.aboutContent p
	{
		font-size: 12px;
	}
	.mobHeader h3 {
    font-size: 19px;
}
	.aboutContent h3 {
    font-size: 22px;
}
.panel-heading span {
    width: 30px;
    height: 30px;
    padding: 2px 0px;
    font-size: 16px;
    margin-right: 1px;
    border: 3px solid rgba(0, 0, 0, .5);
}
	.panel-heading a {
    font-size: 11px;
    line-height: 20px;
}
	.panel-body {
    padding-left: 44px;
    font-size: 10px;
}
	.appointmentTabs li a {
    padding: 10px 10px !important;
}
	.appointmentData p
	{
		font-size: 10px;
	}
}